@import url(style.css);
.listas__contenido{
  background-color: var(--color-fondo);
  color: var(--color-texto);
  border-left: 50px solid var(--color-rojoSuperior);
  border-right: 50px solid var(--color-rojoSuperior);
  width: 95vw;
  box-shadow: 0px 0px 0px 5px var(--color-oscuro);
  border-radius: 5px;
  font-size: 36px;
  width: 700px;
}
.listas__informacion{
  width: 95vw;
  display: flex;
  margin: 0 auto;
  margin-top: 50px;
}
.listas__pokedex{
  height:calc(24px*5);
  width:calc(35px*5);
  background-image: url(../img/swinub.gif);
  background-size: cover;
  margin: 0 auto;
}
.pantalla{
  height: 100vh;
}
