@import url(style.css);
.listas__ejercicio{
  background-color: var(--color-fondo);
  color: var(--color-texto);
  border-left: 50px solid var(--color-rojoSuperior);
  border-right: 50px solid var(--color-rojoSuperior);
  width: 45vw;
   box-shadow: 0px 0px 0px 5px var(--color-oscuro);
  border-radius: 5px;
  font-size: 36px;
}
.listas__informacion{
  display: flex;
  gap: 40px;
}
.listas__pokedex{
  height: 590;
  width: 530px;
  background-image: url(../img/sandslash.gif);
  background-size: cover;
}
